/* Copytext
############################################################################ */

.copytext{
  @media only screen and (min-width: $vp-large) {
    max-width: 80%;
  }
}


/* Page Footer
############################################################################ */
.page-footer {
  padding: $m $m $xxl $m;
  background-color: $footer-background-color;
  color: $footer-color;

  $self: &;

  &__text {
    font-size: $s;
    line-height: $lh-default;

    & a {
      color: $footer-color;
      text-decoration: none;
      font-weight: $fw-normal;
    }

    & + .linklist {
      margin-top: -$m;
    }
  }

  &__headline {
    color: $footer-color;
    font-weight: $fw-bold;
    font-size: $s;
  }

  @media only screen and (min-width: $vp-large) {
    margin: 0 auto;
    width: $vp-large;
    box-shadow: $shadow-l;
  }
}


/* Linklist
############################################################################ */
.linklist {
  &__item {
    margin-left: $m;
    font-family: 'Material Icons';
    line-height: $lh-default;

    &:before {
      display: inline-block;
      margin-left: -$m;
      padding-right: $xxs;
      content: 'link';
      font-size: $xs;
    }

    & > a {
      font-family: $font-family-sans;
    }
  }
}


/* Overview
############################################################################ */
.card-overview {
  &__item {
    & + & {
      margin-top: $xl;
    }
  }
}


/* Teaser
############################################################################ */

.teaser {
  &__image {
    display: block;
    margin-bottom: $xs;
    width: 100%;
  }

  &__headline {
    margin-bottom: $xs;
    font-size: $s;
  }

  &__text {
    font-size: $s;
    line-height: $lh-default;
  }

  &__cta {
    display: inline-block;
    border: solid $border-width $border-color;
    background-color: $interaction-color;
    color: #fff;
    text-decoration: none;
    font-weight: $fw-normal;
    font-size: $s;
    transition: background $tr-medium;

    @include button;
    &:hover {
      background-color: $interaction-color-hover;
    }
  }
}


/* Subtitle
############################################################################ */

.subtitle {
  margin-top: -1em;
}


/* Main Header
############################################################################ */

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $l;
  min-height: 50vh;
  background-image: url(../images/hero-l.png);
  background-position: center center;
  background-size: cover;
  transition: min-height $tr-medium;

  &__menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: $xs $l;
    width: 100%;
    background-color: $darken-medium;
  }

  &__menu-bar-nav {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity $tr-medium;
  }

  &__menu-bar-nav--is-open {
    height: auto;
    opacity: 1;
  }

  &__group{
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $vp-large) {
      margin: 0 auto;
      padding: $m;
      width: $vp-large;
    }
  }

  &__title,
  &__subtitle {
    display: inline-block;
    align-self: flex-start;
    margin: 0;
    padding: $xxs $xs;
    box-shadow: $shadow-l;
  }

  &__title {
    background-color: $lightest;
  }

  &__subtitle {
    background-color: $decoration-color;
    color: $lightest;;
  }

  @media only screen and (min-width: $vp-large) {
    min-height: 80vh;
  }

}

/* Hamburger Menu
############################################################################ */

.hamburger-button {
  margin-left: -4px;
  
}

.hamburger-button {
  width: 30px;
  border:0;
  background:0 0;
  cursor:pointer;
  transition:transform .2s ease-in-out;

  &:active {
    border: none;
  }

  &__bar-top,
  &__bar-bottom {
    transition:transform .6s,opacity .6s;
    transform-origin:50% 50%  
  }

  &--is-open &__bar-top {
    transform:rotate(45deg)translateY(30%)
  }

  &--is-open &__bar-middle {
    opacity:0
  }

  &--is-open &__bar-bottom {
    transform:rotate(-45deg)translateY(-30%)
  }
}

/* Menu List
############################################################################ */

.menu-list {
  overflow: hidden;
  padding-top: $xxs;
  padding-bottom: $xxs;
  color: $light;
  font-size: $m;

  &__link {
    color: $menu-link-color;
    text-decoration: none;
    cursor: pointer;
  }

  &__link:hover {
    color: $menu-link-color-hover;
  }
}


/* Main & Aside Content 
############################################################################ */

.main-content,
.aside-content {
  padding: $l $l $xl $l;
  background-color: $lightest;

  &__section {
    margin-bottom: $xxl;

    & + & {
      padding-top: $xl;
      border-top: solid $border-width $decoration-color;
    }
  }
}

.aside-content {
  background-color: $darken;

  &__headline {
    font-size: $m;
  }
}

@media only screen and (min-width: $vp-medium) {
  .content-wrap {
    display: grid;

    grid-template-columns: 1fr 20 * $m;
  }
}

@media only screen and (min-width: $vp-large) {
  .content-wrap {
    margin: 0 auto;
    width: $vp-large;
    box-shadow: $shadow-l;

    grid-template-columns: 60 * $m 20 * $m;
  }
}

/* Table
############################################################################ */

.table {
  &__cell,
  &__head {
    padding: $xxs;
    width: 40%;
    text-align: left;
  }

  &__head {
    font-weight: $fw-normal;
  }

  &__cell {
    padding: $xxs;
    border-top: solid $border-width $border-color;
  }

  tr:nth-child(even) > td {
    background-color: $lighter;
  }

  &__cell--less-important,
  &__head--less-important {
    display: none;
  }

  @media only screen and (min-width: 40 * $m) {
    .table__cell--less-important,
    .table__head--less-important {
      display: table-cell;
      width: 30%;
    }
  }

  &__cell--is-number,
  &__head--is-number {
    width: 10%;
    text-align: right;
  }
}

/* Ranking
############################################################################ */

.ranking {
  margin-left: $m;
  list-style-type: decimal;
}


/* Liste Item
############################################################################ */

.list-item {
  & + & {
    margin-top: $xxs;
  }

  &__number {
    color: $decoration-color;
    &:before {
      color: $dark;
      content: '#';
    }
  }
}

/* Slideshow
############################################################################ */

.slide-show {		
	position: relative;

	&__slide {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		opacity: 0;
    transition: opacity 1s;
  }

  &__slide:first-child {
    position: relative;
  }

  &__slide--visible {
    z-index: 2;
    opacity: 1;
  }

  &__nav-next,
  &__nav-previous {
    position: absolute;
    top: 50%;
    z-index: 3;
    display: inline-block;
    background-color: $darken-light;
    cursor: pointer;
    transition: background-color $tr-medium;
    transform: translateY(-50%);
    
    &:hover {
      background-color: $darken-strong;
    }

    &::before {
      display: inline-block;
      color: $white;
      font-size: $l;
      font-family: $font-icons;
      line-height: $lh-default;
      @media only screen and (min-width: $vp-small) { 
        font-size: $xxl;
      }
      @media only screen and (min-width: $vp-medium) { 
        font-size: $l;
      }
    }
  }

  &__nav-next {
    right: 0;
    &:before {
      content: 'navigate_next';
    }
  }

  &__nav-previous {
    left: 0;
    &:before {
      content: 'navigate_before';
    }
  }
}

.dot-navigation {
  margin: 0 0 0 0;
  padding: 0 0 $s 0;
  width: 100%;
  list-style: none;
  text-align: center;
  line-height: 1;

  &__dot {
    display: inline-block;
    margin: 0 $xxs;
    width: $xxs;
    height: $xxs;
    border: $border-width $darker solid;
    border-radius: 50%;
    cursor: pointer;
  }

  &__dot--active {
    background-color: $darker;
  }
}
